.listpage-selected-num {
  color: $primary-color;
  margin: 0 2px;
  font-weight: bold;
}

.listpage-selected-wrapper {
  margin-right: 4px;
}

.fe-listpage {
  padding: 16px;
  flex: auto;
  .listpage-title-container {
    margin-bottom: 16px;
    height: 28px;
  }
  .listpage-table-container {
    width: 100%;
    flex: auto;
  }
  .listpage-main-container {
    flex-flow: wrap;
  }
}
